html
  head
    title!= title
    link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Mono" rel="stylesheet")
    link(rel="stylesheet", href="style.css")
  body.page
    a.logo__link(href="/")
      h1.logo Локальный репозиторий
    p.logo__repo-name=repo
    h2.heading!= message
    ul.branches
      each val in branches
        a.branch__link(href != val.link)
          if val.isDefault
            li.branch.branch_default= val.name
          else
            li.branch=val.name  
