html(lang="ru")
  head
    meta(charset="UTF-8")
    title!= title
    link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Mono" rel="stylesheet")
    link(rel="stylesheet", href="/style.css")
  body.page
    a.logo__link(href="/")
      h1.logo Локальный репозиторий
    p.logo__repo-name=repo
    h2.heading Ветки:
    ul.branches
      each val in branches
        if val.isDefault
          li.branch.branch_default
            strong!= val.name + " (сейчас в рабочей области)"
            span!= " || "   
            a(href!= "/seefiles/" + val.name) см. файлы
            span!= " || "
            a.branch__link(href!= val.link) см. коммиты
        else
          li.branch
            strong!= val.name
            span!= " || "
            a(href!= "/seefiles/" + val.name) см. файлы
            span!= " || "
            a.branch__link(href!= val.link) см. коммиты
    h3!= "Коммиты:"
    ul.commits
      each el in commits
        li.commit
          div.commit__timebox
            span.commit__time!= el.timestamp
          div  
            span.commit__subject!= el.subject
            span.commit__autor!= el.comitter
            a(href!= "/commitfiles/"+ el.treeHash).commit__files см. файлы


